/*Estilos base para el proyecto ColorFly Studio */
body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fuente-titulo);
}

p {
    font-family: var(--fuente-parrafo);
}